*{
    margin: 0px;
    padding: 0px;
  }
  .App{
    background:linear-gradient(to top right, rgba(0, 0, 0, 0.492),rgba(0, 0, 0, 0.53)),url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  }